In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('customer.csv',encoding = 'unicode_escape')

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
df.drop('InvoiceNo',inplace=True,axis=1)

In [6]:
df.corr()

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.001235    -0.00360
UnitPrice  -0.001235   1.000000    -0.00456
CustomerID -0.003600  -0.004560     1.00000

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [10]:
df.drop('InvoiceDate',inplace=True,axis=1)

In [11]:
col=['Description','Country']

In [13]:
df.isnull().sum()

StockCode           0
Description      1454
Quantity            0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [14]:
from sklearn.impute import SimpleImputer

In [18]:
si=SimpleImputer(strategy='most_frequent')

In [ ]:
df['Description']=si.fit_transform(df['Description'].values.reshape(-1,1))

In [ ]:
for m in col:
    df[m]=le.fit_transform(df[m])

In [ ]:
df.head()

In [22]:
df.corr()

             Description  Quantity  UnitPrice  CustomerID   Country
Description     1.000000 -0.001382  -0.011293   -0.004133 -0.011229
Quantity       -0.001382  1.000000  -0.001235   -0.003600 -0.012056
UnitPrice      -0.011293 -0.001235   1.000000   -0.004560 -0.001491
CustomerID     -0.004133 -0.003600  -0.004560    1.000000  0.387762
Country        -0.011229 -0.012056  -0.001491    0.387762  1.000000