In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
import pickle

In [5]:
df=pd.read_csv('balance.csv')

In [6]:
df.head()

  %class name  left-weight  left-distance  right-weight  right-distance
0           B            1              1             1               1
1           R            1              1             1               2
2           R            1              1             1               3
3           R            1              1             1               4
4           R            1              1             1               5

In [7]:
df.describe()

       left-weight  left-distance  right-weight  right-distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [9]:
df.skew()

left-weight       0.0
left-distance     0.0
right-weight      0.0
right-distance    0.0
dtype: float64

In [10]:
le=LabelEncoder()

In [11]:
df['%class name']=le.fit_transform(df['%class name'])

In [12]:
df.head()

   %class name  left-weight  left-distance  right-weight  right-distance
0            0            1              1             1               1
1            2            1              1             1               2
2            2            1              1             1               3
3            2            1              1             1               4
4            2            1              1             1               5

In [13]:
df.corr()

,%class name,left-weight,left-distance,right-weight,right-distance
%class name,1.000000,-0.306813,-0.306813,0.323056,0.323056
left-weight,-0.306813,1.000000,0.000000,0.000000,0.000000
left-distance,-0.306813,0.000000,1.000000,0.000000,0.000000
right-weight,0.323056,0.000000,0.000000,1.000000,0.000000
right-distance,0.323056,0.000000,0.000000,0.000000,1.000000

In [16]:
x=df.iloc[:,1:5]

In [18]:
y=df.iloc[:,0].values.reshape(-1,1)

In [19]:
lr=LogisticRegression()

In [20]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [21]:
lr.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
lr.score(xtrain,ytrain)

0.8653846153846154

In [25]:
accuracy_score(lr.predict(xtest),ytest)

0.9044585987261147

In [26]:
cv=cross_val_score(lr,x,y,cv=15,scoring='accuracy')

In [27]:
cv.mean()

0.8546756766268963

In [28]:
cv.std()

0.05683477629595718

In [30]:
mnb=MultinomialNB()

In [31]:
mnb.fit(xtrain,ytrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [32]:
mnb.score(xtrain,ytrain)

0.8632478632478633

In [33]:
accuracy_score(mnb.predict(xtest),ytest)

0.8980891719745223

In [34]:
cvm=cross_val_score(mnb,x,y,cv=15,scoring='accuracy')

In [35]:
cvm.mean()

0.8611797416675466

In [61]:
cvm.std()

0.05909254868411871

In [36]:
dtc=DecisionTreeClassifier()

In [37]:
dtc.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [38]:
dtc.score(xtrain,ytrain)

1.0

In [39]:
accuracy_score(dtc.predict(xtest),ytest)

0.8535031847133758

In [40]:
rtr=RandomForestClassifier()

In [41]:
rtr.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [42]:
rtr.score(xtrain,ytrain)

0.9935897435897436

In [43]:
accuracy_score(rtr.predict(xtest),ytest)

0.8853503184713376

In [45]:
ada=AdaBoostClassifier(base_estimator=rtr)

In [46]:
ada.fit(xtrain,ytrain)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=RandomForestClassifier(bootstrap=True,
                                                         class_weight=None,
                                                         criterion='gini',
                                                         max_depth=None,
                                                         max_features='auto',
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         n_estimators=10,
                                                         n_jobs=None,
                                                         oob_score=False,
                                                         random_state=None,
                                                         verbose=0,
                                                         warm_start=False),
                   learning_rate=1.0, n_estimators=50, random_state=None)

In [47]:
ada.score(xtrain,ytrain)

0.9871794871794872

In [48]:
accuracy_score(ada.predict(xtest),ytest)

0.7898089171974523

In [50]:
cvr=cross_val_score(rtr,x,y,cv=15,scoring='accuracy')

In [51]:
cvr.mean()

0.7152834969908141

In [53]:
svm=SVC()

In [54]:
svm.fit(xtrain,ytrain)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [55]:
svm.score(xtrain,ytrain)

0.905982905982906

In [56]:
accuracy_score(svm.predict(xtest),ytest)

0.9299363057324841

In [57]:
cvs=cross_val_score(svm,x,y,cv=15,scoring='accuracy')

In [58]:
cvs.mean()

0.8667898497166792

In [59]:
cvs.std()

0.06269513118694038

In [60]:
cvs

array([0.70454545, 0.81818182, 0.84090909, 0.83333333, 0.82926829,
       0.92682927, 0.92682927, 0.92682927, 0.90243902, 0.92682927,
       0.80487805, 0.90243902, 0.92682927, 0.82926829, 0.90243902])

In [62]:
balance_model=pickle.dumps(cvm)